#navbar {background-color:#c3e0e5;}
.footer {
    font-size: smaller;
    text-align: center;
    color:#0f2a88;
    position: relative;
    bottom: 0px;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  
  